/*
Create By Zhycan Framework

Copyright © {{.Year}}
Project: {{.ProjectName}}
File: `app/app.go` --> {{ .Time.Format .TimeFormat }} by {{.CreatorUserName}}
------------------------------
*/

package app

// MARK: App Engine

// App - application engine structure that must satisfy one of the engine interface such as 'engine.RestfulApp', ...
type App struct {}

// Other parts such as Routes function and ... can be implemented in other files