/*
Zhycan Framework
Copyright © 2022 - Abolfazl Behroozi

Project: {{.ProjectName}}
File: `main.go` --> {{ .Time.Format .TimeFormat }} by {{.CreatorUserName}}
------------------------------
*/
package main

import "fmt"

/*
The main file of the project
*/
func main() {
    fmt.Println("{{.ProjectName}} is Started ...")
}
